@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0d0d0d;
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.letters {
    font-family: "Open Sans", sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: white;
}

.letters span {
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}