@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Font/KaushanScript-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root {
  --light: #fff;
  --dark: #000;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "KaushanScript-Regular", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style: none;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -------------------- Profiles Section ---------------- */
.profiles-section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.middle-infinity {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 15%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.omar {
  background-image: url("img/omar.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  transition: background-image 0.3s ease-in-out;
  position: relative;
}
.omar:hover {
  background-image: url("img/Omar.png");
}
.omar-socials {
  position: absolute;
  top: 40%;
  left: 20px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.omar-socials:hover {
  transition: transform 0.2s ease;
}
.omar-socials a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  transform: translateZ(20px);
}

.omar-socials a img {
  width: 24px;
  height: 24px;
  transform: translateZ(20px);
}

.omar h2 {
  position: absolute;
  bottom: 35px;
  left: 35px;
  color: #000;
  font-size: 3em;
}

.omar p {
  position: absolute;
  bottom: 90px;
  left: 35px;
  color: #000;
  font-size: 1.2em;
  max-width: 300px;
  line-height: 1.5;
}

.modibo {
  background-image: url("img/modibo.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  transition: background-image 0.3s ease-in-out;
  position: relative;
}
.modibo:hover {
  background-image: url("img/Modibo.png");
}
.modibo-socials {
  position: absolute;
  top: 40%;
  right: 20px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.modibo-socials:hover {
  transition: transform 0.2s ease;
}
.modibo-socials a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  transform: translateZ(20px);
}
.modibo-socials a img {
  width: 24px;
  height: 24px;
  transform: translateZ(20px);
}

.modibo h2 {
  position: absolute;
  bottom: 35px;
  right: 35px;
  color: #000;
  font-size: 3em;
}

.modibo p {
  position: absolute;
  bottom: 90px;
  right: 35px;
  color: #000;
  font-size: 1.2em;
  max-width: 300px;
  line-height: 1.5;
}

.infinity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.infinity path {
  fill: #03043b;
  filter: drop-shadow(0 0 10px rgba(52, 52, 52, 0.16));
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  fill: #000;
  animation: bounce 2s infinite;
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-15px);
  }
  60% {
    transform: translateX(-50%) translateY(-7px);
  }
}

/* Preloader */
.preloader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preloader p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  font-weight: 550;
}
.preloader-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-size: 5rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--light);
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}
.preloader-images {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}
.preloader-images .img {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}
.preloader-images .img img {
  position: relative;
  transform: scale(2);
  will-change: transform;
  border-radius: 12px;
}
.preloader-copy {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  color: var(--light);
}
.preloader-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(70svh);
  transform-origin: top;
  will-change: transform;
  z-index: 2;
}

.preloader-header a .char,
.preloader-copy p .line {
  display: inline-block;
  transform: translateY(0);
  position: relative;
  will-change: transform;
}

@media (max-width: 1000px) {
  .preloader-images {
    top: 35%;
    width: 10rem;
    height: 10rem;
  }
  .preloader-copy {
    width: 80%;
  }
  .preloader-header {
    transform: translateY(50svh);
  }
  .preloader-header a {
    font-size: 3rem;
  }
}

/* Main Navigation Styles */
.main-nav {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  color: var(--dark);
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Stacks Section */
.stacks-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #cecaca;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.stacks-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--dark);
}
.stacks-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 260px;
  perspective: 1000px;
  cursor: pointer;
}

.stacks-section .stack-item {
  position: absolute;
  width: 100%;
  background-color: var(--light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Superposition décalée */
.stack-item:nth-child(1) {
  transform: rotate(-6deg) translateY(0px);
  z-index: 10;
}
.stack-item:nth-child(2) {
  transform: rotate(-3deg) translateY(5px);
  z-index: 9;
}
.stack-item:nth-child(3) {
  transform: rotate(0deg) translateY(10px);
  z-index: 8;
}
.stack-item:nth-child(4) {
  transform: rotate(3deg) translateY(15px);
  z-index: 7;
}
.stack-item:nth-child(5) {
  transform: rotate(6deg) translateY(20px);
  z-index: 6;
}
.stack-item:nth-child(6) {
  transform: rotate(-5deg) translateY(25px);
  z-index: 5;
}
.stack-item:nth-child(7) {
  transform: rotate(5deg) translateY(30px);
  z-index: 4;
}
.stack-item:nth-child(8) {
  transform: rotate(-2deg) translateY(35px);
  z-index: 3;
}
.stack-item:nth-child(9) {
  transform: rotate(2deg) translateY(40px);
  z-index: 2;
}
.stack-item:nth-child(10) {
  transform: rotate(0deg) translateY(45px);
  z-index: 1;
}

/* Ombres et effet d’élévation */
.stacks-container:hover .stack-item {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.15);
}

.stacks-container .stack-item:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}
