@font-face{
  font-family: "KaushanScript-Regular";
  src: url("KaushanScript-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "KaushanScript-Regular", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style: none;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* -------------------- Profiles Section ---------------- */
.profiles-section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.middle-infinity{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 15%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.omar {
  background-image: url("img/omar.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  background-color: #066bbe;
  transition: background-image 0.3s ease-in-out;
  position: relative;
}
.omar:hover {
  background-image: url("img/omar.png");
}
.omar-socials {
  position: absolute;
  top: 40%;
  left: 20px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.omar-socials:hover{
  transition: transform 0.2s ease;
}
.omar-socials a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  transform: translateZ(20px);
}

.omar-socials a img {
  width: 24px;
  height: 24px;
  transform: translateZ(20px)
}

.omar h2 {
  position: absolute;
  bottom: 35px;
  left: 35px;
  color: #000;
  font-size: 3em;
}

.omar p {
  position: absolute;
  bottom: 90px;
  left: 35px;
  color: #000;
  font-size: 1.2em;
  max-width: 300px;
  line-height: 1.5;
}

.modibo {
  background-image: url("img/modibo.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  background-color: rgb(223, 223, 29);
  transition: background-image 0.3s ease-in-out;
  position: relative;
}
.modibo:hover {
  background-image: url("img/modibo.png");
}
.modibo-socials {
  position: absolute;
  top: 40%;
  right: 20px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.modibo-socials:hover{
  transition: transform 0.2s ease;
}
.modibo-socials a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
  transform: translateZ(20px);
}
.modibo-socials a img {
  width: 24px;
  height: 24px;
  transform: translateZ(20px)
}

.modibo h2 {
  position: absolute;
  bottom: 35px;
  right: 35px;
  color: #000;
  font-size: 3em;
}

.modibo p {
  position: absolute;
  bottom: 90px;
  right: 35px;
  color: #000;
  font-size: 1.2em;
  max-width: 300px;
  line-height: 1.5;
}

.infinity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.infinity path {
  fill: #03045e;
  filter: drop-shadow(0 0 10px rgba(52, 52, 52, 0.16));
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  fill: #000;
  animation: bounce 2s infinite;
  border: 1px solid black;
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-15px);
  }
  60% {
    transform: translateX(-50%) translateY(-7px);
  }
}